* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

body {
  font-family: 'domine'serif;
  color: #B30003;
  background-color: #FFCBCC;
  text-align: center;
}

p {
  font-weight: bold;
}

fieldset {
  border: 0;
}

#have-you-mastered {
  margin-top: 5%;
  margin-bottom: 3%;
}

#start-button-section {
  margin-top: 3%;
}

.header {
  flex: auto;
  margin-top: 50px;
  margin-bottom: 40px;
}

.footer {
  margin-top: 50px;
  margin-bottom: 50px;
  position:absolute;
  bottom:0px;
  width:100%;
  z-index: -100;
}

.question-score {
  margin-bottom: 5%;
}

.question {
  margin-bottom: 5%;
}

#question-form {
  text-align: left;
  display: flex;
  justify-content: center;
}

#answer {
  margin-right: 7px;
}

#correct-answer-on-wrong {
  margin-top: 7%;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.h1 {
  font-size: 30px;
  font-weight: bold;
}

.h3 {
  font-size: 20px;
  font-weight: bold;
}

.quizBox {
  padding-left: 20px;
  padding-right: 20px;
  list-style-type: none;
  background-color: #FFCBCC;
}

.list {
  list-style-type: none;
  font-weight: bold;
}

.button {
  background: transparent;
  border: 2px solid #FE0200;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Futura;  color: #FE0200;  font-size: 27px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  margin-bottom: 10px;
  margin-top: 20px;
  transition-duration: 0.6s;
}

.button:hover {
  background: #FE0200;
  border: 2px solid #FE0200;
  text-decoration: none;
  font-family: Futura;  color: #FFCBCC;  font-size: 27px;
}
